extends ../shared/template
block content
  .row
    .col-xs-6
      h2 Inbox
      table.table.table-striped
        thead
          th From
          th Date
          th Message
          th Opened?
        tbody
          if messages.length > 0
            each message in messages
              tr
                td: a(href='/users/#{message.from}')= message.from
                td= moment(message.date).format('LL')
                td: a(href='/inbox/#{message._id}')=message.body.slice(0, 10)+'...'
                td= message.isRead
block scripts
